
    <!-- HEADER -->
    <div class="jumbotron text-center">
        <h1>Hyped Bands <span class="label label-info">{{ hyped_bands.length }}</span></h1>
    </div>

        <!-- HYPED BANDS LIST -->
        <div id="hyped-bands-list" class="row">
            <div class="col-sm-4 col-sm-offset-4">

                <!-- LOOP OVER THE BANDS IN $scope.hyped_bands -->
                <div class="checkbox" ng-repeat="band in hyped_bands">
                    <label>
                        {{ band.bandName }} ({{ band.hypeScore }})
                    </label>
                </div>

            </div>
        </div>

        <div class="col-sm-4 col-sm-offset-4">
            <div class="form-group">
                <input type="text" ng-model="band" class="form-control" />
            </div>
            <a href="#/search" class="btn btn-primary">Search for band</a>
        </div>